<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: commonHeader"></head>
<body>

<div class="sign-form-title">
    <h1>Movie Video</h1>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card sign-form">
                <div class="card-header bg-dark">Sign-In</div>
                <form action="/user/sign-in" method="post" id="sign_in_form">
                    <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group">
                        <input type="text" class="form-control" name="userId" id="user_id" placeholder="ID" th:value="${userId}">
                        <div class="invalid-feedback" id="sign_in_id_not_registered">
                            Unregistered ID.
                        </div>
                        <div class="invalid-feedback" id="sign_in_id_invalid">
                            Please enter your ID.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="userPassword" id="user_password" placeholder="Password">
                        <div class="invalid-feedback" id="sign_in_password_not_match" th:if="${failed}">
                            ID and password do not match.
                        </div>
                        <div class="invalid-feedback" id="sign_in_password_invalid">
                            Please enter your password.
                        </div>
                    </div>

                    <div class="sign-form-button-group">
                        <button type="submit" class="btn btn-block bg-cadetblue">Sign In</button>
                        <button type="button" class="btn btn-dark btn-block" onclick="signPageMove('sign-up');">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: commonFooter"></footer>
</body>
</html>