<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: commonHeader"></head>
<body>
<header th:replace="layout :: topbar"></header>

<div class="container py-5">
    <div class="row">
        <th:block th:each="movie: ${movieList}">
            <div class="col-md-3">
                <div class="card mb-3 movie-list-card href"
                     th:attr="data-href='/video/list?movieTitle='+${movie.movieTitle}">
                    <img class="card-img-top" th:src="${movie.posterImageUrl}">
                    <div class="card-body">
                        <p class="card-text text-truncate" th:text="${movie.movieTitle}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted" th:text="'video - '+${#lists.size(movie.videoList)}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>

<footer th:replace="layout :: commonFooter"></footer>
</body>
</html>