<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: commonHeader"></head>

<body>
<header th:replace="layout :: topbar"></header>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <th:block th:each="movie: ${movieList}">
                <div class="col-md-3">
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" alt="Card image cap" th:src="${movie.posterImageUrl}">
                        <div class="card-body">
                            <p class="card-text text-truncate" th:text="${movie.movieTitle}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>
</main>


<footer th:replace="layout :: commonFooter"></footer>
</body>
</html>