body {
    background-color: white;
}
.navbar {
    box-shadow: none;
}
.bg-dark {
    background-color: #202124 !important;
}

/* common */
.href {
    cursor: pointer;
}

/* overwrite card */
.card {
    box-shadow: none;
    cursor: pointer;
}

/* movie list */
.movie-list-card .card-body {
    padding: 0.5rem 0 1.25rem 0;
}

/* video list */
.video-list-card {
    max-height: 400px;
}
.video-list-card h5 {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 0.5rem;
}
.video-list-card .text-muted {
    margin-top: 0.5rem;
    font-style: italic;
}

/* video detail */
.video-detail h5 {
    margin-top: 2rem;
}
.video-detail-related {
    height: 7rem;
}
.video-detail-related img {
    float: left;
    margin-right: 1rem;
    width: 30%;
    max-height: 150px;
}
.video-detail-related p {
    font-size: 0.8rem;
    font-style: italic;
}