body {
    background-color: white;
}
.navbar {
    box-shadow: none;
}
.bg-dark {
    background-color: #202124 !important;
}
.bg-cadetblue {
    background-color: cadetblue;
    color: white;
}
.bg-cadetblue:hover {
    background-color: #88c9cc;
    color: white;
}

/* common */
.href {
    cursor: pointer;
}
.form-control:focus {
    box-shadow: none;
}

/* sign in / up */
.sign-form {
    font-size: 1.3rem;
}
.sign-form .btn {
    text-transform: none;
}
.sign-form form {
    padding: 1.5rem;
}
.sign-form .form-group {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.sign-form .card-header {
    text-align: center;
    color: white;
    padding: 0.5rem;
}
.sign-form .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.sign-form-button-group {
    margin-top: 4rem;
}
.sign-form-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #636363;
    line-height: 1.1;
    text-align:center;
    margin-top: 4em;
    margin-bottom: 2em;
}
.sign-form-title h1 {
    font-weight: bolder;
}


/* custom card */
.custom-card .card {
    box-shadow: none;
    cursor: pointer;
}

/* movie list */
.movie-list-card .card-body {
    padding: 0.5rem 0 1.25rem 0;
}
.movie-list-card .text-truncate {
    margin-bottom: 0;
}

/* video list */
.video-list-card {
    max-height: 400px;
}
.video-list-card h5 {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 0.5rem;
}
.video-list-card .text-muted {
    margin-top: 0.5rem;
    font-style: italic;
}

/* video detail */
.video-detail h5 {
    margin-top: 1rem;
}
.video-detail .property {
    font-size: 0.8rem;
}
.video-detail .text-muted {
    font-size: 0.8rem;
    font-style: italic;
}
.video-detail-related {
    height: 7rem;
}
.video-detail-related img {
    float: left;
    margin-right: 1rem;
    width: 30%;
    max-height: 150px;
}
.video-detail-related p {
    font-size: 0.8rem;
    font-style: italic;
}