<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap-reboot.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap-material-design.min.css}"/>

    <meta charset="UTF-8">
    <title>Movievidoe</title>
</head>
<body>

<header th:fragment="topbar">
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>MOVIE VIDEO</strong>
                </a>
            </div>
        </div>
    </header>
</header>

<footer th:fragment="commonFooter">
    <script type="text/javascript" th:src="@{/lib/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/popper/popper.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap-material-design.min.js}"></script>
</footer>
</body>
</html>